class {{.FormulaName}} < Formula
  desc "{{.ProjectDescription}}"
  homepage "{{.Homepage}}"
  url "{{.ArchiveURL}}"
  sha256 "{{.Checksum}}"
  license "{{.License}}"

  depends_on "go" => :build

  def install
    system "go", "build", *std_go_args(ldflags: "{{.LDFlags}}"), "{{.MainPath}}"
  end

  test do
    assert_match "{{.TestOutput}}", shell_output("#{bin}/{{.BinaryName}} --version")
  end
{{if .Service}}
  
  service do
    run [opt_bin/"{{.BinaryName}}"]
    keep_alive true
    working_dir var
    log_path var/"log/{{.BinaryName}}.log"
    error_log_path var/"log/{{.BinaryName}}.error.log"
  end
{{end}}
end